.menu{
	width: 1024px;
	height: 700px;
	margin: 0 auto;
	background: #B7EFC1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.menu h2{
	margin-bottom: 40px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 60px;
	color: #fff;
}

.menu .btns{
	width: 256px;
	height: 82px;
	position: relative;
	background: #fff;
	color: #4a4a4a;
	font-size: 36px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Open Sans", sans-serif;
	font-weight: lighter;
	cursor: pointer;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	text-align: center;
}

.menu .btns:after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;

}

.menu .btns:hover{
	-webkit-transform: scale(1.25, 1.25);
	transform: scale(1.25, 1.25);
}

.menu .btns:hover:after{
	opacity: 1;
}

.wrapper{
	width: 1024px;
	height: 700px;
	margin: 0 auto;
	background: #404040;
	position: relative;
}
.controls{
	width: 100%;
	height: 50px;
	position: absolute;
	top: 20px;
	color: #fff;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

.controls .level{
	width: 15%;
	height: 100%;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.controls .game-score{
	width: 70%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	text-align: center;
	font-size: 36px;
	z-index: 1;
}

.wrapper .controls .pause-button{
	width: 15%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	cursor: pointer;
}

.controls .pause-button div{
	width: 15px;
	height: 100%;
	background: #d8d8d8;
}

.controls .pause-button div:first-child{
	margin-right: 10px;
}

.wrapper .controls .play-button{
	width: 15%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	cursor: pointer;
}

.wrapper .controls .play-button div{
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 25px solid #d8d8d8;
}
.block{
	width: 256px;
	height: 90px;
	position: absolute;
}

#singleBlock{
	width: 256px;
	height: 90px;
	background: #b7efc1;
	position: absolute;
	top: 0;
	left: 256px;
}

